<div class="post-wrapper">
  <p>
    <strong>Name:</strong> <%= comment.name %>
  </p>
  <p><%= comment.body %></p>
  <p><span>Submitted <%= time_ago_in_words(comment.created_at) %> ago.</span></p>
  <% if logged_in? %>
  <p><%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>
