<div class="pages-wrapper">
  <h1>About</h1>
  <div class="container about">
    <p>Hello, I'm Christie, a newly minted web developer living in Melbourne. I'm currently at Realestate.com.au where I was a Business Analyst, before taking a three month arse whipping at General Assembly. I now speak Ruby, Javascript and spend too much time fussing over CSS. From my BA days I'm also experienced in leading agile software delivery projects. I still have index cards in my handbag and love a good scrum.</p>
    <p>If you'd like to know more about struggles of becoming a web developer, check out my thoughts in my journal.</p>
    <p>You can drop me a line at <%= mail_to "christie.arcus@gmail.com" %></p>

    <div class="social-container">
      <a href="https://au.linkedin.com/in/christiemetson"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/christiemetson/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<script src="https://use.fontawesome.com/95e3c94f24.js"></script>
