<div class="pages-wrapper">
  <h1>Work</h1>
    <div class="container work-squares">

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      	<div class="flipper">
      		<div class="front">
      		</div>
      		<div class="back">
      		</div>
      	</div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
          </div>
          <div class="back">
          </div>
        </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
          </div>
          <div class="back">
          </div>
        </div>
      </div>

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
          </div>
          <div class="back">
          </div>
        </div>
      </div>

    </div>
</div>
