<div class="home-background">
  <div class="container work-squares">

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    	<div class="flipper">
    		<div class="front">
    			shoestring
    		</div>
    		<div class="back">
    			brief explanation / link
    		</div>
    	</div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
        </div>
        <div class="back">
          brief explanation / link
        </div>
      </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          screen shot
        </div>
        <div class="back">
          brief explanation / link
        </div>
      </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          screen shot
        </div>
        <div class="back">
          brief explanation / link
        </div>
      </div>
    </div>

  </div>
</div>
