<div class="home-background">
  <div class="container">
    <h1>Work</h1>
    showcase my work in masonry style grids, that on hover say what the project is about (link and github)<br>
    by general github profile<br>
    core skills (or things i'm focusing on) link to read more on my blog.<br>
  </div>
</div>
