// Fonts

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Mono);
$robotoMono: 'Roboto Mono', ;
$robotoSlab: 'Roboto Slab', serif;

// Colours

$highlight: #FF8A80;
$selected: #FF5252;
$light: #FFEBEE;
$transparent: rgba(38, 17, 17, 0.19);
$darkGrey: #424242;
$background: rgba(208,215,214, 0.4);
$solidBackground: rgba(208,215,214, 1);

.highlight-text {
  color: $highlight;
}

// Mixins
