@media (min-width: 320px) and (max-width: 568px) {
  #menu ul {
    display: none;
  }
}

@media (min-width: 568px) {
  #menu select {
    display: none;
  }
}

#menu {
	height: 60px;
	padding: 0 5px 0;
	text-align: center;
  background-color: rgba(38, 17, 17, 0.19);
  font-family: $robotoMono;
}

#menu ul {
	list-style: none;
  font-size: 0.9em;
  margin: 0;
}

#menu ul li {
	display: inline-block;
	width: 4em;
	text-align: center;
}

#menu ul li a {
	color: black;
	width: 100%;
	line-height: 60px;
  text-transform: uppercase;
	text-decoration: none;
}

#menu ul li.selected {
	background: #fff;
}

#menu ul li.selected a {
	color: #384047;
}

select {
	width: 94%;
	margin: 11px  0 11px 2%;
	float: left;
}
