html, body {
  background:     linear-gradient(
      $background,
      $background
    ),image-url('background.png') center center fixed;
  height: 100vh;
  margin: auto;
  position: relative;
}

// homepage layout
.hero-layout {
  position: absolute;
  right: 10%;
  top: 25%;
  font-family: $robotoMono;
  animation-name: fadeInDown;
  animation-duration: 1s;
  color: $darkGrey;
  h1 {
    text-align: right;
  }
  p {
    text-align: right;
  }
}

// homepage title animation
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

// other pages layout

@media (max-width: 568px) {
  .pages-wrapper {
    h1 {
      margin-top: 2.5em;
    }
  }
  .post-wrapper {
    margin-top: 6em !important;
  }
}
