  input, textarea {
    width: 100%;
  }


textarea {
  height: 400px;
}

img {
  max-width: 30%;
  border-radius: .2em;
}

.post-wrapper {
  background: whitesmoke;
  border: 1px solid gainsboro;
  padding: 1em;
  margin-top: 1em;
  span {
    color: $highlight;
  }
}

.time {
  text-align: center;
  font-family: $robotoMono;
  color: $highlight;
}

.search {
  input {
    width: 100%;
  }
  textarea {
    width: 50%;
  }
}

.post-item {
  h2 {
    display: inline;
  }
  p {
    color: grey;
  }
  a {
    text-decoration: none;
  }
}
